body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:800px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:57px;
  background:inherit;
  background-color:rgba(226, 226, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:57px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:67px;
  width:256px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:8px;
  width:40px;
  height:40px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:159px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:432px;
  width:340px;
  height:159px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:625px;
  width:203px;
  height:29px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:79px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:61px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-4px;
  width:144px;
  height:61px;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:208px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:164px;
  width:340px;
  height:208px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:13px;
  width:31px;
  height:31px;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
