body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:800px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:57px;
  background:inherit;
  background-color:rgba(226, 226, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:57px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:67px;
  width:256px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:8px;
  width:40px;
  height:40px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:159px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:432px;
  width:340px;
  height:159px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:625px;
  width:203px;
  height:29px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:87px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:61px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-4px;
  width:144px;
  height:61px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:208px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:164px;
  width:340px;
  height:208px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:13px;
  width:31px;
  height:31px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
